/* 1024px for small laptops */
@media (max-width: 1024px){

}

/* 768px for tablets */
@media (max-width:768px){
    nav{
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        width: 100%;
        z-index: 99;
    }

    .nav-wrapper{
        position: fixed;
        top: 0;
        right: 0;
        background-color: white;
        height: 100vh;
        width: 80%;
        z-index: 999;
        transform: translateX(100%);
        transition: 0.6s ease-in-out;
    }

    .menu-open{
        transform: translateX(0);
    }
    

    .nav-links{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }

    .nav-links a{
        display: block;
        color: black;
        font-size: 22px;
        padding: 30px 0;
    }

    .menu-btn{
        display: block;
        font: 24px;
    }

    #close-btn{
        position: absolute;
        top: 15px;
        left: 22px;
    }

    #open-btn{
        background: red;
        padding: 6px 8px;
        color: white;
        border: none;
        border-radius: 4px;
    }

    .hero-section{
        height: 80vh;
    }

    
    .hero-section .hero-content{
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: auto;
        
        }

    .hero-section .hero-content h1{
        font-size: 28px;
        padding: 0 30px;
       
    }

    .hero-section .hero-content p{
        font-size: 18px;
        padding: 0 30px;
        
    }
}

