@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppoins", sans-serif;
}


a{
    text-decoration: none;
}

.cta-btn{
    padding: 10px 20px;
    display: inline-block;
    color: #FFFFFF;
    background-color: #E10600;
    border-radius: 8px;
    border: none;
}

.cta-btn:hover{
    background-color: red;
}

/* .cta-btn{
    color: white;
    padding: 10px 15px;
    margin: 20px 0;
    background:linear-gradient(to right, red, rgb(248, 102, 102));
    display: inline-block;
    border-radius: 8px;
    border: none;
    overflow: hidden;
} */

    /* HEADER SECTION */

.logo{
    width: 120px;
}

.for-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px;
    background-color: #FFFFFF;
    height: 10vh;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.671);
    z-index: 99;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li a{
    padding: 0 30px;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    transition: 0.3s all ease;

}

.nav-links li a:hover, .nav-links li .active{
    color: red;
}

    /* HERO SECTION */

.hero-section{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(20, 20, 20, 0.6)),url(../Images/hero-background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
}

.hero-section .hero-content{
    max-width: 700px;
    margin: auto 50px;
}

.hero-section .hero-content h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.hero-section .hero-content h1 span{
    color: #E10600;
}

.hero-section .hero-content p{
    font-size: 20px;
    line-height: 1.5;
    color: #CCCCCC;
    text-align: justify;
    margin-bottom: 20px;
}


/* 
.menu-btn{
    display: none;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    height: 80px;
    width: 100%;
}

.fixed-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 99;
    box-shadow: 0 2px 3px rgba(22,36,86,0.7);
}

.fixed-nav .nav-links a{
    color: black;
}


.hero-section{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)),url(../Images/background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
}

.nav-links{
    display: flex;
    list-style: none;
}


.nav-links a{
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 0 30px;
}

.nav-links a:hover, .nav-links .active{
    color: red;
}


.hero-section .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    max-width: 800px;
    width: 90%;
    margin: auto;

}

.hero-section .hero-content h1{
    font-size: 48px;
    color: white;
    margin-bottom: 20px;
    line-height: 1.2;
}

.hero-section .hero-content p{
    font-size: 20px;
    color: whitesmoke;
    line-height: 1.5;
} */

    /* ABOUT SECTION HOMEPAGE */

.about-main{
    margin:0 auto;
    width: 100%;
    background-color: #f7f7f7;
}

.about-container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: flex;
    gap: 50px;
    box-shadow: rgba(250, 250, 252, 0.2) 0px 7px 29px 0px;
    position: relative;
    padding: 230px 0 50px 0px;
    overflow: hidden;
}

.about-container .about-left{
    flex: 1;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.about-container .about-left h3{
    font-size: 36px;
    margin-bottom: 10px;
}
.about-container .about-left p{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 10px;
}
.about-container .about-left p:last-of-type{
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 30px;
}
.about-container .about-right{
    flex: 1;
}


.about-container .about-right img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.about-main .about-mission{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 100vh;
    left: 0;
    right: 0;

}
.about-main .about-mission .believe{
    padding: 50px 30px;
    height: 250px;
    color: #FFFFFF;
    background-color: #000000;
    border-top-left-radius: 30px;
}
.about-main .about-mission .believe h3{
    font-size: 24px;
    margin-bottom: 20px;
    
}
.about-main .about-mission .believe p{
    margin-bottom: 20px;
}
.about-main .about-mission .vision{
    padding: 50px 30px;
    height: 250px;
    color: #000000;
    background-color: #FFFFFF;
}
.about-main .about-mission .vision h3{
    font-size: 24px;
    margin-bottom: 20px;
    
}
.about-main .about-mission .vision p{
    margin-bottom: 20px;
}
.about-main .about-mission .mission{
    padding: 50px 30px;
    height: 250px;
    color: #000000;
    background-color: #FFFFFF;
    border-top-right-radius: 30px;
}
.about-main .about-mission .mission h3{
    font-size: 24px;
    margin-bottom: 20px;
    
}
.about-main .about-mission .mission p{
    margin-bottom: 20px;
}

.service-section{
    margin: 80px 0;  
    
}


.service-section .service-header{
    text-align: center;
    margin-bottom: 30px;
}

.service-section .service-header h1{
    margin-bottom: 10px;
}

.service-section .service-header P{
    color: #0b0b0b;
}


.service-section .service-container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 90%;
    margin: auto;
    text-align: center;
    
}

.service-section .service-container .service-card img{
    width: 340px;
    object-fit: cover;
}

.service-section .service-container .service-card h3{
    font-size: 24px;
    margin: 20px 0;
}

.service-section .service-container .service-card p{
    color: gray;
    font-size: 16px;
    margin: 0 20px 20px 20px;
    line-height: 1.8;
}

.service-btn{
    padding: 10px 16px;
    border: 2px solid rgba(0, 0, 0, 0.671);
    background-color: white;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 50px;
    transition: 0.6s ease;
}

.service-btn:hover{
    background-color: red;
    color: white;
    border: none;
}

.slogan-section{
    margin: 50px auto;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)),url(../Images/service3.jpeg);
    background-position: center;
    background-size: cover;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.slogan-section .slogan-items{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 0 50px;
}
.slogan-section .slogan-items h3{
    margin: 0 50px;
    border-right: 2px solid white;
    color: white;
    padding: 0 30px;
}

.slogan-section .slogan-service{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    width: 90%;
    margin: 0 auto;
    top: -25px;
    left: 0;
    right: 0;
    color: white;
    background-color: red;
    border: none;
    text-align: center;
    padding: 15px 30px;
}
.slogan-section .slogan-service a{
    color: white;
}


    /* WHATSAPP SECTION */

.whatsapp img{
    width: 60px;
}
.whatsapp{
    position: fixed;
    bottom: 60px;
    right: 20px;
}

    /* OUR TEAM SECTION */

.team-section{
    margin: 80px 0;
}

.team-section .team-container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: flex;
    gap: 50px;
}

.team-section .team-container .team-left{
    flex: 1.5;
}

.team-section .team-container .team-left .form-container{
    background-color: rgba(211, 211, 211, 0.178);
    padding: 40px;
}

.team-section .team-container .team-left .form-container .input-box{
    display: flex;
    gap: 30px;
}

.team-section .team-container .team-left .form-container p{
    font-size: 30px;
    color: red;
    margin-bottom: 40px;
}

.team-section .team-container .team-left .form-container input{
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    padding: 0 10px;
    border: 1px solid rgba(99, 96, 96, 0.521);
}

.team-section .team-container .team-left .form-container textarea{
    height: 170px;
    width: 100%;
    resize: none;
    padding: 10px 10px;
    border: 1px solid rgba(99, 96, 96, 0.521);
    margin-bottom: 30px;
}

.team-section .team-container .team-left .form-container button{
    padding: 15px 30px;
    color: white;
    font: 24px;
    font-weight: 700;
    background-color: red;
    border: none;
    margin-bottom: 30px;
}
.team-section .team-container .team-right{
    flex: 1;
}

.team-section .team-container .team-right p{
    font-size: 20px;
    margin-bottom: 20px;
}

.team-section .team-container .team-right p span{
    color: red;
}

.team-section .team-container .team-right img{
    width: 100%;
    height: 90px;
    margin-bottom: 20px;
}

.team-section .team-container .team-right p:last-of-type{
    font-size: 16px;
    line-height: 1.8;
}



    /* TESTIMONIALS SECTION */

.testimonials-section{
    margin: 50px 0;
}

.testimonials-section .testimonials-header{
    text-align: center;
    counter-reset: black;
    margin-bottom: 20px;
}

.testimonials-section .header h1{
    margin-bottom: 5px;
}

.testimonials-section .header p{
    color: #0f0f10;
}

.testimonials-section .testimonials-container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
}
.testimonials-section .testimonials-container .testimonials-card{
    background-color: #f7f7f7;
    padding: 30px 20px;
    border-radius: 10px;
    text-align: center;
}

.testimonials-section .testimonials-container .testimonials-card img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 5px solid white;
}

.testimonials-section .testimonials-container .testimonials-card p{
    color: #0f0f10;
    font-size: 0.9rem;
}

.testimonials-section .testimonials-container .testimonials-card p:first-of-type{
    color: #0b0b0b;
    font-size: 1.2rem;
    font-weight: 600;
}

.testimonials-section .testimonials-container .testimonials-card .stars{
    color: gold;
    margin: 20px 0;
    font-size: 1.1rem;
}


    /* NEWSLETTER SECTION */

.newsletter-section{
    max-width: 1200px;
    width: 100%;
    margin: 80px auto;
}

.newsletter-section .newsletter-container{
    background: linear-gradient(rgba(22,36,86,0.7),rgba(22,36,86,0.7)),url(../Images/newsletter2.jpg);
    background-size: cover;
    background-position: center;
    padding: 60px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newsletter-section .newsletter-container h3{
    font-size: 36px;
    color: white;
    font-size: 600;
    margin-bottom: 10px;
}

.newsletter-section .newsletter-container p{
    color: lightgray;
    font-size: 16px;
    line-height: 24px;
}

.input-container{
    width: 350px;
    height: 50px;
    border: none;
    position: relative;
    background: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.input-container input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    padding-left: 10px;
    color: black;
}

.input-container input::placeholder{
    color: black;
}

.input-container button{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 30px;
    height: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 16px;
    color: white;
    font-weight: 700;
    background-color: red;
    border: none;
    cursor: pointer;
}

    /* FOOTER SECTION */

footer{
    background-color: black;
    width: 100%;
    color: white;
    margin-top: 80px;
    
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 30px;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;

}

.footer-container h3{
    margin: 40px 0;
}

.footer-container .contact-details strong{
    color: white;
}

.footer-container .contact-details p{
    margin: 20px 0;
    color: rgb(136, 131, 131);;
    line-height: 1.5;
}


.footer-container .link-details li{
    margin: 20px 0;
    list-style: none;
}

.footer-container .link-details li a{
    color: rgb(136, 131, 131);
    transition: 0.3s ease;
}

.footer-container .link-details li a:hover{
    color: red;
}

.footer-container .services-details li{
    margin: 20px 0;
    list-style: none;
}

.footer-container .services-details li a{
    color: rgb(136, 131, 131);
    transition: 0.3s ease;
}

.footer-container .services-details li a:hover{
    color: red;
}

.footer-container .social-icons{
    display: flex;
    gap: 30px;
}

.footer-container .social-icons i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgb(136, 131, 131);
    border-radius: 50%;
    margin-bottom: 80px;
}

.footer-container .social-icons i:hover{
    background-color: red;
    color: white;
}

.privacy a{
    color:rgb(136, 131, 131);
 }

 .privacy a:hover{
    color: red;
 }

.footer-bottom{
    text-align: center;
    padding: 40px 0;
}

   /* CONTACT SECTION */

.hero-contact{
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)),url(../contact\ background2.jpg);
    background-size: cover;
    background-position: top 10%;
    width: 100%;
}


.contact-section{
    margin: 50px auto;
    max-width: 1200px;
    width: 90%;
}

.contact-section .contact-container{
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
}

.contact-section .contact-container .form-container{
    flex: 1;
}

.contact-section .contact-container .form-container .input{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 0 10px;
    border-radius: 7px;
    border: 1px solid lightgray;
}
.contact-section .contact-container .form-container .input-container textarea{
    height: 150px;
    resize: none;
    padding: 10px 20px;
}

/* button{
    color: white;
    padding: 10px 15px;
    margin: 10px 0;
    background:linear-gradient(to right, red, rgb(248, 102, 102));
    display: inline-block;
    border-radius: 8px;
    border: none;
    overflow: hidden;
} */

.contact-section .contact-container .contact-details{
    flex: 1;
}


.contact-section .contact-container .info{
    margin-bottom: 40px;
    color: #0b0b0b;
}

.contact-section .contact-container .info h3{
    margin-bottom: 10px;
}

.contact-section .contact-container .info p{
    color: gray;
}

.hero-about{
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)),url(../Images/about.jpg);
    background-size: cover;
    background-position: top 10%;
    width: 100%;
}

.about-section{
    margin: 50px auto;
    max-width: 1200px;
    width: 90%;
    background-color: #f7f7f7;
    padding: 20px;
    border: 8px;
}

.about-section .about-container{
    display: flex;
    gap: 50px;
}

.about-section .about-container .about-left{
    flex: 1;
}


.about-section .about-container .about-left img{
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}


.about-section .about-container .about-right h2{
    font-size: 32px;
    margin-bottom: 30px;
}

.about-section .about-container .about-right p{
    font-size: 20px;
    color: gray;
    line-height: 1.8;
    text-align: justify;
}


.about-section .about-container .about-right{
    flex: 1;
}

    /* SERVICE SECTION */

.service-hero{
    height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(20, 20, 20, 0.6)),url(../Images/newsletter2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: justify;
}

.service-hero .service-content{
    text-align: center;
    width: 800px;
    margin: 0 auto;
    background-color: #E10600;
    padding: 60px 60px;
}

.service-hero .service-content h1{
    font-size: 50px;
    margin-bottom: 30px;
}
.service-hero .service-content p{
    font-size: 30px;
}

.note-section{
    margin: 100px 0;
    
}

.note-section p{
    font-size: 18px;
    text-align: center;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    color: gray;
}






.service-main{
    margin: 80px 0;
}

.servicemain-header{
    text-align: center;
    margin-bottom: 30px;
}
.service-main .servicemain-header h1{
    margin-bottom: 10px;
}

.servicemain-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap: 20px;
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.servicemain-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    transition: transform 0.6s ease;
}

.servicemain-card{
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.servicemain-card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    text-align: center;
}

.servicemain-card:hover img{
    transform: scale(1.5);
}

.servicemain-card i{
    color: sandybrown;
    font-size: 36px;
}

.servicemain-card h2{
    color: white;
    text-align: center;
    margin: 20px 0;
}

.servicemain-card p{
    color: whitesmoke;
    margin-bottom: 25px;
}

.servicemain-card a{
    color: red;
}
