@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppoins", sans-serif;
}


a{
    text-decoration: none;
}

.cta-btn{
    color: white;
    padding: 10px 15px;
    margin: 20px 0;
    background:linear-gradient(to right, red, rgb(248, 102, 102));
    display: inline-block;
    border-radius: 8px;
    border: none;
    overflow: hidden;
}

.logo{
    width: 140px;
}

.menu-btn{
    display: none;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    height: 80px;
    width: 100%;
}

.fixed-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 99;
    box-shadow: 0 2px 3px rgba(22,36,86,0.7);
}

.fixed-nav .nav-links a{
    color: black;
}


.hero-section{
    height: 100vh;
    background: linear-gradient(rgba(22,36,86,0.7), rgba(22,36,86,0.7)),url(../Images/background.jpg);
    background-size: cover;
    background-position: center;
}

.nav-links{
    display: flex;
    list-style: none;
}


.nav-links a{
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 0 30px;
}

.nav-links a:hover, .nav-links .active{
    color: red;
}

.hero-section .hero-content{
    max-width: 750px;
    width: 90%;
    margin: auto 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}

.hero-section .hero-content h1{
    font-size: 48px;
    color: white;
    margin-bottom: 20px;
    line-height: 1.2;
}

.hero-section .hero-content p{
    font-size: 20px;
    color: whitesmoke;
    text-align: justify;
    line-height: 1.5;
}








