@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppoins", sans-serif;
}


a{
    text-decoration: none;
}

.cta-btn{
    color: white;
    padding: 10px 15px;
    margin: 20px 0;
    background:linear-gradient(to right, red, rgb(248, 102, 102));
    display: inline-block;
    border-radius: 8px;
    border: none;
    overflow: hidden;
}

.logo{
    width: 140px;
}

.menu-btn{
    display: none;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    height: 80px;
    width: 100%;
}

.fixed-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 99;
    box-shadow: 0 2px 3px rgba(22,36,86,0.7);
}

.fixed-nav .nav-links a{
    color: black;
}


.hero-section{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)),url(../Images/background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
}

.nav-links{
    display: flex;
    list-style: none;
}


.nav-links a{
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 0 30px;
}

.nav-links a:hover, .nav-links .active{
    color: red;
}


.hero-section .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    max-width: 800px;
    width: 90%;
    margin: auto;

}

.hero-section .hero-content h1{
    font-size: 48px;
    color: white;
    margin-bottom: 20px;
    line-height: 1.2;
}

.hero-section .hero-content p{
    font-size: 20px;
    color: whitesmoke;
    line-height: 1.5;
}


.service-section{
    margin: 50px 0;
}

.service-header{
    text-align: center;
    margin-bottom: 20px;
}

.service-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap: 20px;
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.service-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    transition: transform 0.6s ease;
}

.service-card{
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.service-card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    text-align: center;
}

.service-card:hover img{
    transform: scale(1.5);
}

.service-card i{
    color: sandybrown;
    font-size: 36px;
}

.service-card h2{
    color: white;
    text-align: center;
    margin: 20px 0;
}

.service-card p{
    color: whitesmoke;
    margin-bottom: 25px;
}

.service-card a{
    color: red;
}


.whatsapp img{
    width: 60px;
}
.whatsapp{
    position: fixed;
    bottom: 60px;
    right: 20px;
}

.testimonials-section{
    margin: 50px 0;
}

.testimonials-section .testimonials-header{
    text-align: center;
    counter-reset: black;
    margin-bottom: 20px;
}

.testimonials-section .header h1{
    margin-bottom: 5px;
}

.testimonials-section .header p{
    color: #0f0f10;
}

.testimonials-section .testimonials-container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
}
.testimonials-section .testimonials-container .testimonials-card{
    background-color: #f7f7f7;
    padding: 30px 20px;
    border-radius: 10px;
    text-align: center;
}

.testimonials-section .testimonials-container .testimonials-card img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 5px solid white;
}

.testimonials-section .testimonials-container .testimonials-card p{
    color: #0f0f10;
    font-size: 0.9rem;
}

.testimonials-section .testimonials-container .testimonials-card p:first-of-type{
    color: #0b0b0b;
    font-size: 1.2rem;
    font-weight: 600;
}

.testimonials-section .testimonials-container .testimonials-card .stars{
    color: gold;
    margin: 20px 0;
    font-size: 1.1rem;
}






